{% extends 'base.html.twig' %}

{% block title %}List of Figures{% endblock %}

{% block body %}
    <h1>List of Figures</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for figure in figures %}
                {{ dump(figure.mainIllustration.url) }}
                <img src="{{ asset(figure.mainIllustration.url) }}" alt="{{ figure.name }}" width="100">
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('figure_new') }}" class="btn btn-success">Create new</a>
{% endblock %}